<h1>Editar Usuários</h1>
<form action="/edit/update" method="post">
    <div class="form-control">
        <input type="hidden" name="id" value="{{User.id}}">
        <label for="occupation">Nome</label>
        <input type="text" name="name" value="{{User.name}}">
    </div>
    <div class="form-control">
        <label for="occupation">Profissão</label>
        <input type="text" name="occupation" value="{{User.occupation}}">

        <div class="form-control form-checkbox">
            <input type="checkbox" name="newsletter" checked>
            <label for="newsletter">Assine nossa NewsLetter</label>
        </div>
        <input type="submit" value="Editar">
    </div>
</form>
<form action="/delete/{{User.id}}" method="post">
    <input type="submit" value="Deletar">
</form>

{{#each User.addresses}}
<div class="address-list">
    <p>Cidade: {{this.city}}</p>
    <p>Rua: {{this.street}}</p>
    <p>Numero {{this.number}}</p>
    <form action="/del/address" method="post">
        <input type="hidden" name="userid" value="{{this.userId}}">
        <input type="hidden" name="ida" value="{{this.id}}">
        <input type="submit" value="Excluir">
    </form>
</div>
{{/each}}