<div class="users">
    <div class="user">
        <span>nome: {{User.name}}</span>
        <span>profissão: {{User.occupation}}</span>


        <a href="/edit/{{User.id}}">Editar</a>
    </div>
</div>
<h1>Cadastre seu endereço</h1>
<form action="/address/create" method="post">
    <input type="hidden" name="UserId" value="{{User.id}}">
    <div class="form-control">
        <label for="number">Digite o nome da rua:</label>
        <input type="text" name="street" placeholder="Nome da rua">
    </div>
    <div class="form-control">
        <label for="number">Digte o número da casa:</label>
        <input type="text" name="number" placeholder="Número">
    </div>
    <div class="form-control">
        <label for="city">Cidade:</label>
        <input type="text" name="city" placeholder="">
    </div>
    <input type="submit" value="Cadastrar">
</form>
{{#each User.addresses}}
<div class="address-list">
    <p><strong>Cidade:</strong> {{this.city}}</p>
    <p><strong>Rua:</strong> {{this.street}}</p>
    <p><strong>Número</strong> {{this.number}}</p>
</div>
{{/each}}
<h2><a href="/home">Voltar</a></h2>